:root {
  --primary-color: #3a5f56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.nav-links {
  display: flex;
  gap: 12.55px;
  align-items: center;
}
.nav-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}
.nav-button {
  background-color: var(--primary-color);
  padding: 11px 44px;
  margin-left: 20px;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
}
.nav-link600 {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  display: none;
}
@media (max-width: 600px) {
  .nav-link {
    display: none;
  }
  .nav-link600 {
    display: block;
  }
}
.hero {
  display: flex;
  align-items: center;
  background-color: #f4f3f0;
  padding: 100px 136px;
}
.hero-text {
  max-width: 552px;
  max-height: 298px;
}
.hero-title {
  font-family: "Source Serif 4", sans-serif;
  font-weight: 400px;
  font-size: 48px;
  max-width: 477px;
  color: var(--primary-color);
}
.hero-heading {
  color: var(--primary-color);
}
.hero-img {
  max-width: 552px;
  max-height: 773px;
}
.hero-button {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  width: 118px;
  height: 44px;
  border-radius: 6px;
  margin-top: 19px;
}
