.preset-store {
  background-color: #f4f3f0;
  padding: 100px 0;
}
.preset-store-text {
  text-align: center;
}
.preset-store-title {
  margin: 15px 0;
  font-family: "Source Serif 4", sans-serif;
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 400;
}
.preset-store-heading {
  max-width: 591px;
  margin: 0 auto;
}
.preset-store-list {
  display: flex;
  gap: 16px;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.preset-store-card img {
  border-radius: 10px 10px 0 0;
}
.preset-store-card {
}
.vol-text {
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: -10px;
  border-radius: 0 0 10px 10px;
  padding: 30px;
}
.preset-store-card h1 {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-color);
  font-family: "Source Serif 4", sans-serif;
}
.preset-store-card p {
  max-width: 317px;
  color: var(--primary-color);
  margin-top: 6px;
}
@media (max-width: 1220px) {
  .preset-store-list {
    justify-content: center;
  }
}
.preset-store-btn {
  display: block;
  border: none;
  width: max-content;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 17px;
  line-height: 23.8px;
  margin: 0 auto;
}
